@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="padding-top:75px;">
    <h1 class="display-4" style="font-size:50px;font-family: 'Century Gothic';">Bienvenue dans la bibliotheque DOTNET</h1>
    <p style="padding-top:25px;font-family: 'Century Gothic';">Apprenez le C#, ASP et WPF avec votre professeur préféré !</p>
</div>


